body{
    margin: 0;
    /* overflow: hidden; */
    /* background-color: darkslategrey; */
}
a{
    color: orange;
    text-decoration: none;
}
button{
    border: none;
    background-color: white;
}
img {
    border-radius: 20px !important;
}
section{
    height: auto;
    /* background-color: beige; */
}
.navbar{
    background-color: white !important;
}
.navbar .btn{
    background-color: wheat;
    color: coral;
}
#navbar{
    /* transition: all 1s ease; */
    /* background-color: aqua; */
}

.navigation{
    /* background-color: aqua; */
    /* height: 5vh; */
}

.banner{
    background-color: rgb(223, 233, 244);
    /* height: 70vh; */
    /* background: azure; */
}
.banner img, .play-arrow, .cards-3 img{
    border-radius: 0 !important;
}
.cards-3 img{
    height: 3rem;
    width: 3rem;
}
.banner .btn{
    background-color: orange;
    color: white;
}

.container{
    width: 70%;
}

.btn{
    display: flex;
    /* align-self: center; */
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 30px;
    width: auto;
    text-align: center;
}

.bubble{
    margin-top: 50px;
    margin-bottom: 50px; 
}

.info .card{
    border: none !important;
}
.info .card-body{
    margin-top: 1rem;
    padding: 0 !important;
}

.solve {
    height: 70vh;
    background-color: aliceblue;
}
.solve .outside{
    padding-top: 2rem;
}
.solve .inside{
    padding: 2rem;
}
.card{
    border-radius: 20px;
}

.closed .inside{
    background-color: rgb(223, 233, 244);

    /* width: 95%; */
    padding: 2rem;
    border-radius: 30px;
}
.closed .inside ul{
    margin: 30px 0;
}

.ribbon{
    /* position: relative; */
    height: 20vh;
    width: 20vh;
    right: -10px;
    top: -10px;
}

.experience{
    background-color: orange;
    height: 60vh;
    margin: 0;
    width: 100%;
}
.experience img{
    border-radius: 0 !important;
    object-fit: cover;
}
.experience .inside{
    color: white;
    height: 100%;
    padding: 12vh;
    width: 70%;
}
.experience .inside .btn {
    background-color: white;
    color: orange;
    width: 12vw;
}
#myTabContent img{
    width: 80%;
}

.play-button{
    position: absolute;
    height: 3rem;
    width: 3rem;
    /* background-color: white; */
    border-radius: 50%;
    bottom: 2rem;
    left: 2.5rem;
}
.play-button .play-arrow{
    align-self: center;
    /* height: 1.5rem; */
    /* width: 1.5rem; */
}
.blog{
    background-color: rgb(223, 233, 244);
    /* background-color: cyan; */
    height: 80vh;
    margin-bottom: 0;
}
.blog .head{
    margin-bottom: 2rem;
}
#cards-2 img{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

footer{
    color: white;
    position: relative;
    background-color: rgb(20, 49, 82);
    /* background-color: aquamarine; */
    height: 50vh;
    overflow: hidden;
}
footer a{
    color: white;
}
footer ul{
    padding: 0;
}
input{
    width: 16vw;
    border: none;
    border-radius: 20px;
    padding: 0 1rem;
    height: 2rem;
}
.subscribe{
    text-align: center;
    color: white;
    background-color: orange;
    margin-top: .7rem;
    width: 8vw;
}
footer .inside{
    
    /* background-color: aqua; */
    height: 95%;
}

ul{
    list-style: none;
}

li{
    padding: 0;
}

fieldset{
    /* background-color: aliceblue; */
    height: 100%;
}

.decoration{
    position: absolute;
    height: 35vh;
    width: 35vh;
    background-color: orange;
    border-radius: 20px;
}
